html {
    overflow-x: hidden;
    }

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
}

footer {
    grid-row: 3;
}

.base-grid {
    --min: calc(100% - (2 * var(--gutter)));
    --max: calc(1200px - (2 * var(--gutter)));

    align-items: start;
    display: grid;
    gap: var(--gutter);
    grid-template-columns: [page-start] 1fr [center-start] min(var(--min), var(--max)) [center-end] 1fr [page-end] ;
    
    @media (min-width: 575px) {
        --min: 80%;
    } 

    @media (min-width: 768px) {
        --min: 70%
    }
}

.base-grid .base-wrapper {
    grid-column: center;
    position: relative;
}