html {
    overflow-x: hidden;
    }

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
}

footer {
    grid-row: 3;
}

.base-grid {

    /* --gutter: 10px; */

    --nrCols: 12;
    --min-content-widht: 100%; 
    --max-content-width: 1200px;
    --nrGutters: calc(var(--nrCols) + 1);
    --gutterSpace: calc(var(--nrGutters) * var(--gutter));
    --minColSize: calc((var(--min-content-widht) - var(--gutterSpace)) / var(--nrCols));
    --maxColSize: calc((var(--max-content-width) - var(--gutterSpace)) / var(--nrCols)); 

    display: grid;
    gap: var(--gutter);

    grid-template-columns: [page-start] 1fr [content-start] repeat(calc(var(--nrCols)/2), min(var(--minColSize), var(--maxColSize))) [content-center] repeat(calc(var(--nrCols)/2), min(var(--minColSize), var(--maxColSize))) [content-end] 1fr [page-end];

    @media (min-width: 768px) {
        --min-content-widht: 90%;
    }

    @media (min-width: 992px) {
        --min-content-widht: 80%;
    }
}

.half-grid-left {
    --nrCols: 2;
    --min-content-widht: 100%;
    --max-content-width: 600px;
    --nrGutters: calc((var(--nrCols) + 1) / 2);
    --gutterSpace: calc(var(--nrGutters) * var(--gutter));
    --minColSize: calc((var(--min-content-widht) - var(--gutterSpace)) / var(--nrCols));
    --maxColSize: calc((var(--max-content-width) - var(--gutterSpace)) / var(--nrCols)); 

    display: grid;
    gap: var(--gutter);

    grid-template-columns: 1fr min(calc(var(--min-content-widht) - var(--gutter)), calc(var(--max-content-width) - var(--gutterSpace)));

    @media (min-width: 768px) {
        --min-content-widht: 90%;
    }

    @media (min-width: 992px) {
        --min-content-widht: 80%;
    }
}

.half-grid-right {
    --nrCols: 2;
    --min-content-widht: 100%;
    --max-content-width: 600px;
    --nrGutters: calc((var(--nrCols) + 1) / 2);
    --gutterSpace: calc(var(--nrGutters) * var(--gutter));
    --minColSize: calc((var(--min-content-widht) - var(--gutterSpace)) / var(--nrCols));
    --maxColSize: calc((var(--max-content-width) - var(--gutterSpace)) / var(--nrCols)); 

    display: grid;
    gap: var(--gutter);

    grid-template-columns: min(calc(var(--min-content-widht) - var(--gutter)), calc(var(--max-content-width) - var(--gutterSpace))) 1fr;

    @media (min-width: 768px) {
        --min-content-widht: 90%;
    }

    @media (min-width: 992px) {
        --min-content-widht: 80%;
    }
}

.bg-green {
    background-color: var(--clr-bg-green);
}

.bg-blue {
    background-color: var(--clr-bg-blue);
}

.bg-pink {
    background-color: var(--clr-bg-pink);
}
