@import url('https://fonts.googleapis.com/css2?family=Karla:wght@100;200;400&display=swap');

* {
    color: var(--txt-color);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: var(--fs0);
    font-weight: 400;
    line-height: 1.25;
}

h1 {
    color: var(--txt-color);
    font-size: var(--fs4);
    font-weight: 100;
    line-height: 1.25;
    margin: 0 0 2rem 0;
    padding: 0;
}

h1:has(span) {
    margin: 0 0 1rem 0;
}

h1 span {
   line-height: 1;
   display: block;
   margin: 0 0 auto 0;
   font-size: var(--fs1);
}

h2 {
    color: var(--txt-color);
    font-size: var(--fs3);
    font-weight: 100;
    line-height: 1.125;
    margin: 0 0 var(--space-m) 0;
    padding: 0;
}

h3 {
    color: var(--txt-color);
    font-size: var(--fs3);
    font-weight: 200;
    line-height: 1.25;
    margin: 0 0 var(--space-m) 0;
    padding: 0;
}

p {
    color: var(--txt-color);
    font-size: var(--fs0);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: var(--space-m) ;
}
