.assistive {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.bg-green {
  background-color: var(--clr-bg-green);
}

.bg-blue {
  background-color: var(--clr-bg-blue);
}

.bg-pink {
  background-color: var(--clr-bg-pink);
}
