.btn {
    padding: 1rem;
    background-color: var(--bs-gray-400);
}

.location-map {
    width: 100%;
}

.image-map {
    width: 100%;
    max-height: 250px;
    position: relative;

    @media (min-width: 768px) {
        max-height: 350px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .doedels-anchor {
        position: absolute;
        background-image: url('../../img/marker-balloon.svg');
        background-size: 100% 100%;
        width: 300px;
        height: 225px;
        text-indent: -9999px;
        overflow: hidden;
        left: calc(50% - 170px);
        top: calc(50% - 110px);
    }
}

.image-single {
    height: 100%;
    max-height: 250px;

    @media (min-width: 768px) {
        max-height: 350px;
    }

    @media (min-width: 992px) {
        max-height: 450px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.image-gallery-v1 {
    height: 100%;
    max-height: 450px;
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;

    .frame {
        overflow: hidden;
        height: 100%;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .frame1 {
        grid-column: 1/4;
    }

    .frame2 {
        grid-column: 1/3;
        grid-row: 2;
    }

    .frame3 {
        grid-column: 3/4;
        grid-row: 2;
    }
}

.image-gallery-v2 {
    display: grid;
    height: 100%;
    max-height: 250px;
    gap: var(--gutter);
    grid-template-columns: 2fr 1fr 1fr;

    @media (min-width: 768px) {
        max-height: 350px;
    }

    .frame {
        overflow: hidden;
        height: 100%;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.image-gallery-v3 {
    
    display: grid;
    gap: var(--gutter);
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    max-height: 250px;

    @media (min-width: 768px) {
        max-height: 450px;
    }

    .frame {
        overflow: hidden;
        height: 100%;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .frame1 {
        grid-row: 1 / 3;
    }
}

.video-gallery-v1 {
    height: 100%;
    max-height: 350px;
    display: grid;
    gap: var(--gutter);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    @media (min-width: 768px) {
        max-height: 450px;
    }

    .frame {
        overflow: hidden;
        height: 100%;
    }

    img, video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .frame1 {
        grid-column: 1/1;
        grid-row: 1 / -1;
    }

    .frame2 {
        grid-column: 2/3;
        grid-row: 1;
    }

    .frame3 {
        grid-column: 2/3;
        grid-row: 2;
    }
}

.brand-rail {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    padding: var(--space-l) var(--space-m);

    @media (min-width: 768px) {
        justify-content: normal;
        padding: var(--space-xl) var(--space-xl);
    }

    img {
        max-width: 120px;
        max-height: 60px;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    a {
        
        &:hover {
            background-color: red;
            img{
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    }
}


.txt {
    padding: var(--space-l) var(--space-l);

    @media (min-width: 768px) {
        padding: var(--space-xxl);
    }
}

.half-grid-left .txt {
    padding: var(--space-l) var(--space-l);

    @media (min-width: 768px) {
        padding: var(--space-xl) var(--space-l) var(--space-xl) var(--space-l);
    }
}

.half-grid-right .txt {
    padding: var(--space-l) var(--space-l);

    @media (min-width: 768px) {
        padding: var(--space-xl) var(--space-l) var(--space-xl) var(--space-l);
    }
}

.decoration1 {
    position: absolute;
    right: 0;
    bottom: 45%;
    rotate: -30deg;
    transform: translateX(50%);
    z-index: 0;

    @media (min-width: 768px) {
        bottom: 0%;
    }
}


.decoration2 {
    position: absolute;
    left: 0;
    bottom: -10%;
    rotate: 20deg;
    transform: translateX(-30%);
    z-index: 0;
    max-width: 140px;

    @media (min-width: 768px) {
        bottom: -30%;
        max-width: 230px;
    }
}