footer {
    border-top: 1px solid var(--clr-bg-green-solid);
    background-color: var(--clr-bg-green);
    padding: var(--space-xl) var(--space-m) ;

    @media (min-width: 768px) {
        padding: var(--space-xl) 0 var(--space-m) 0;
    }

    h2 {
        font-size: var(--fs1);
    }

    
    .contact {
        grid-column: content;
        
        @media (min-width: 768px) {
            grid-column: 3 / 8;
        }

        @media (min-width: 992px) {
            grid-column: 2 / 6;
        }

        ul.socials {
            margin-top: var(--space-m);
        }
        a {
            display: block;
        }
    }

    .hours {
        grid-column: content;

        @media (min-width: 768px) {
            grid-column: 8 / 15;
        }

        @media (min-width: 992px) {
            grid-column: 6 / 10;
        }

        ul {
            list-style: disc;
        }
    }

    .newsletter {
        grid-column: content;

        @media (min-width: 768px) {
            grid-column: 3 / 15;
        }

        @media (min-width: 992px) {
            grid-column: 10 / 14;
        }
    }

    .secondary-nav {
        grid-column: 1 / -1;
        margin: 0 auto 0 auto;
        

        ul {
            display: flex;
            list-style: none;
            margin: var(--space-l) 0 0 0;
            padding: auto;
            gap: var(--space-m);
        }
    }

}

