header {
    background-color: var(--clr-bg-green);
    min-height: 100px;
}

header{
    nav {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }
    }

}

.logo {
    /* grid-area: contentleft; */
    max-width: 200px;
    grid-column: content-start;
}

nav {
    grid-column: content-center;
    /* grid-area: contentright; */
}