.gallery {
  height: 100%;
  min-height: 250px;
  display: grid;
  grid-template-columns: 1fr;

  .frame {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
  }
}

.image-gallery {
  grid-column: 1 / -1;
  display: flex;
  gap: var(--gutter);
  min-height: 150px;
  margin-top: calc(var(--gutter) * 2);
  @media (min-width: 992px) {
    margin-top: 0;
  }
}

.image-gallery-v1 {
  display: grid;
  height: 100%;
  min-height: 250px;
  gap: var(--gutter);
  grid-template-columns: repeat(2, 1fr);
}

.image-gallery-v2 {
  display: grid;
  height: 100%;
  min-height: 250px;
  gap: var(--gutter);
  grid-template-columns: 2fr 1fr 1fr;

  @media (min-width: 992px) {
    min-height: auto;
  }
}

.image-gallery-v3 {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  min-height: 250px;

  @media (min-width: 992px) {
    min-height: auto;
  }

  .frame1 {
    grid-row: 1 / 3;
  }
}

.image-gallery-v4 {
  height: 100%;
  max-height: 450px;
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;

  .frame1 {
    grid-column: 1/4;
  }

  .frame2 {
    grid-column: 1/3;
    grid-row: 2;
  }

  .frame3 {
    grid-column: 3/4;
    grid-row: 2;
  }
}

.video-gallery-v1 {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  max-height: 350px;

  @media (min-width: 768px) {
    max-height: 400px;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
  }

  @media (min-width: 992px) {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
  }

  img,
  video {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .frame1 {
    grid-column: 1/1;
    grid-row: 1 / -1;
  }

  .frame2 {
    grid-column: 2/3;
    grid-row: 1;
  }

  .frame3 {
    grid-column: 2/3;
    grid-row: 2;
  }
}
