.btn {
  padding: 1rem;
  background-color: var(--bs-gray-400);
}

.txt {
  grid-column: 1 / -1;
  max-width: 80ch;
  padding: var(--space-m);

  @media (min-width: 992px) {
    grid-column-start: var(--col-start, auto);
    grid-column-end: span var(--col-span, 6);
    padding: calc(var(--space-m) * 2);
  }

  @media (min-width: 1200px) {
    padding: calc(var(--space-l) * 2);
  }
}

.doedel1 {
  position: absolute;
  right: 0;
  bottom: 45%;
  transform: rotate(-30deg) translateX(50%);
  z-index: 0;

  @media (min-width: 768px) {
    bottom: 0%;
  }
}

.doedel2 {
  position: absolute;
  left: 0;
  bottom: -10%;
  transform: rotate(20deg) translateX(-30%);
  z-index: 0;
  max-width: 140px;

  @media (min-width: 768px) {
    bottom: -40%;
    max-width: 160px;
  }

  @media (min-width: 992px) {
    bottom: -50%;
    max-width: 220px;
  }
}

a {
  text-underline-offset: 3px;

  &:hover,
  &:active {
    color: var(--link-hover-color);
  }
}

a.phone {
  display: block;

  &:hover {
    &:before {
      background-color: var(--link-hover-color);
    }
  }

  &:before {
    display: inline-block;
    background-color: var(--bs-gray-600);
    content: '';
    width: 16px;
    height: 16px;
    mask: url(../../icons/phone.svg) 0% 100% no-repeat;
    mask-size: 75%;
    transform: translateY(1px);
  }
}

a.app {
  display: block;

  &:hover {
    &:before {
      background-color: var(--link-hover-color);
    }
  }

  &:before {
    display: inline-block;
    background-color: var(--bs-gray-600);
    content: '';
    width: 18px;
    height: 18px;
    mask: url(../../icons/whatsapp.svg) 0% 100% no-repeat;
    mask-size: 75%;
    transform: translateY(1px);
  }
}

a.mail {
  display: block;

  &:hover {
    &:before {
      background-color: var(--link-hover-color);
    }
  }

  &:before {
    display: inline-block;
    background-color: var(--bs-gray-600);
    content: '';
    width: 16px;
    height: 16px;
    mask: url(../../icons/mail.svg) 0% 100% no-repeat;
    mask-size: 75%;
    transform: translateY(1px);
  }
}