.newsletter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-s);

    label {
        &.full {
            grid-column: span 1;
        }

        &.full {
            grid-column: span 2;
        }

        span {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }

    input {
        border: 1px solid var(--bs-gray-600);
        border-radius: 3px;
        padding: var(--space-s);
        width: 100%;

        &:active,
        &:focus {
            outline-color: var(--clr-bg-dark-green);
        }

        &:user-invalid {
            background-color: var(--clr-background-error);
            color: var(--clr-txt-error);
            /* border-color: var(--clr-background-error); */
            outline-color:var(--clr-background-error);

            &::placeholder{
                color: var(--clr-txt-error);
            }
    
            &::-ms-input-placeholder {
                color: var(--clr-txt-error);
            }
        }
        
        /* &:user-valid {
            background-color: green;
        } */
        
    }

    input[type='submit'] {
        background: var(--bs-gray-600);
        border: 1px solid var(--bs-gray-600);
        color: var(--clr-bg-green);
        cursor: pointer;
        margin-top: var(--space-s);
        grid-column: 1 / -1;
        text-transform: uppercase;

        transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        &:hover {
            color: var(--bs-gray-600);
            border-color: var(--bs-gray-600);
            background-color: var(--clr-bg-medium-green);
        }
    }
}
