/* Specific section styling */
main .grid {
  --sectionMargin: 0 0 calc(var(--blockMargin) * 2) 0;
  position: relative;

  @media (min-width: 768px) {
    margin: var(--sectionMargin);
  }
}

/* extra margin class for txt blocks */
.col-duo {
  .txt {
    padding: var(--blockMargin) 0;

    @media (min-width: 575px) {
      padding: calc(var(--blockMargin) * 2);
    }

    @media (min-width: 768px) {
      padding: var(--blockMargin);
      margin-top: var(--blockMargin);
      margin-bottom: var(--blockMargin);
    }
  }

  &[class*='bg-']:has(.txt) {
    @media (min-width: 768px) {
      margin-top: calc(var(--blockMargin) * 2);
      margin-bottom: calc(var(--blockMargin) * 2);
    }

    .txt {
      @media (min-width: 768px) {
        padding: 0 calc(var(--blockMargin) * 2);
        margin-top: calc(var(--blockMargin) * 2);
        margin-bottom: calc(var(--blockMargin) * 2);
      }
    }
  }
}

.col-trio .txt {
  padding: var(--blockMargin) 0;

  @media (min-width: 575px) {
    padding: calc(var(--blockMargin) * 2);
  }

  @media (min-width: 768px) {
    padding: var(--blockMargin);
    margin-top: var(--blockMargin);
    margin-bottom: var(--blockMargin);
  }
}

section.home-intro {

  @media (min-width: 768px) {
    padding: calc(var(--blockMargin) * 2) 0;
  }

  /* The videogallery should not overflow the content column on destop */
  .gallery {
    @media (min-width: 768px) {
      --grid-column: content-start/content-center;
    }
  }
}

section.privateshopping {
  --sectionMargin: 0;
}
