/* Specific section styling */
main .grid {
  --sectionMargin: 0 0 calc(var(--blockMargin) * 2) 0;
  position: relative;

  @media (min-width: 768px) {
    margin: var(--sectionMargin);
  }
}

/* No margin before location map */
section:has(+ section.location-map) {
  --sectionMargin: 0;
}
