/* Specific section styling */
main .grid {
  --sectionMargin: 0 0 calc(var(--blockMargin) * 2) 0;
  position: relative;

  @media (min-width: 768px) {
    margin: var(--sectionMargin);
  }
}


/* No margin before location map */
section:has(+ section.location-map) {
  --sectionMargin: 0;
}


.doedels-intro {
  /* grid-column: fullwidth;
  display: grid;
  grid-template-columns: subgrid;

  @media (min-width: 992px) {
    grid-column: 1 / 10;
    margin-top: calc(var(--blockMargin) * 2);
    margin-bottom: calc(var(--blockMargin) * 2);
    margin-right: calc(var(--blockMargin) * 2);
  }

  .txt {
    grid-column: content;
    padding: var(--blockMargin);

    @media (min-width: 992px) {
      margin-top: calc(var(--blockMargin) * 2);
      margin-right: calc(var(--blockMargin) * 2);
      margin-bottom: calc(var(--blockMargin) * 2);
    }
  } */
}

.doedels-intro-img {
  /* grid-column: fullwidth;
  @media (min-width: 992px) {
    grid-column: 10 / -1;
  } */
}

.doedels-origin {
  /* grid-column: fullwidth;
  display: grid;
  grid-template-columns: subgrid;
  order: 1;

  @media (min-width: 992px) {
    order: 1;
    grid-column: 6 / -1;
    margin-top: calc(var(--blockMargin) * 2);
    margin-bottom: calc(var(--blockMargin) * 2);
    margin-left: calc(var(--blockMargin) * 2);
  }

  .txt {
    grid-column: 1 / content-end;
    padding: var(--blockMargin);

    @media (min-width: 992px) {
      /* margin-top: calc(var(--blockMargin) * 2); */
      /* margin-left: calc(var(--blockMargin) * 2); */
      /* margin-bottom: calc(var(--blockMargin) * 2); */
    }
  } */
}

.doedels-origin-img {
  /* grid-column: fullwidth;
  order: 0;
  @media (min-width: 992px) {
    grid-column: 1 / 6;
    order: 0;
  } */
}